<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSE312 Project Home</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>
</head>
<body>

<!--<div class="title">
    <h2>WAJD</h2>
</div>-->

<div class = "banner">

    <div class = "logo_div">
    <!--<div style="height: 75px; width: 75px; display: flex;">-->
        <img src="/static/image/lmao_logo.jpg" alt="Trending Image" class = "logo_image">
    </div>
    <div class = "log_container">
        Register:
        <form action="/register" method="post" enctype="application/x-www-form-urlencoded">
            <label>Username:
                <input type="text" name="username"/>
            </label>
            <br/>
            <label>Password:&nbsp;
                <input type="password" name="password">
            </label>
            <input type="submit" value="Register">
        </form>

        Login:
        <form action="/login" method="post" enctype="application/x-www-form-urlencoded">
            <label>Username:
                <input type="text" name="username"/>
            </label>
            <br/>
            <label>Password:&nbsp;
                <input type="password" name="password">
            </label>
            <input type="submit" value="Login">
        </form>

    </div>

</div>

<div >
    
    <div>
        <div>
            <select id="Selections" onchange="setFeedCategory(this.value)">
                <option value="default" selected disabled>Filter by category</option>
                <option value="trending">Trending</option>
                <option value="animals">Animals</option>
                <option value="darkHumor">Dark Humor</option>
                <option value="gaming">Gaming</option>
                <option value="political">Political</option>
                <option value="popCulture">Pop Culture</option>
                <option value="sports">Sports</option>
                <option value="tecnology">Technology</option>
                <option value="wholesome">Wholesome</option>
                <option value="other">Other</option>
            </select>
        </div>
    </div>

<div class = "content-wrapper">
    <div class = "content">
        <img id="feedImage" src="/static/image/meme1.png" alt="Feed Image">
        
        <div class = "interact">
            <button id = "like_button">Like</button>
            <button id = "comment_button">Comment</button>
        </div>
    </div>
    </div>

</div>

<script src="/static/index.js"></script>

</body>
</html>
