<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LMAO.com</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<body onload="setup()">
    <div class="banner">
        <div class="logo" onclick="location.href='/'">
            <img class="logo_image" src="/static/media/lmao_logo.jpg">
            <div class="logo_text">LMAO.com</div>
        </div>
        <div class="banner_title">{{banner_title}}</div>
        <div class="banner_buttons">
            <button onclick="location.href='/create'">Create post</button>
            {% if authenticated %}
                <button onclick="location.href='/logout'">Logout</button>
                <button onclick="location.href='/account'">Account</button>
            {% else %}
                <button onclick="location.href='/login'">Login</button>
                <button onclick="location.href='/register'">Register</button>
            {% endif %}
        </div>
    </div>
    <div class="sidebar">
        <div class="username">
            Welcome
            <br>
            {% if authenticated %}
                {{username}}
            {% else %}
                Guest User
            {% endif %}
        </div>
        <div class="category_selector">
            <div class="category_header">Categories</div>
            <a href="/recent">Recent</a>
            <a href="/memes">Memes</a>
            <a href="/animals">Animals</a>
            <a href="/gaming">Gaming</a>
            <a href="/sports">Sports</a>
            <a href="/politics">Politics</a>
            <a href="/darkhumor">Dark Humor</a>
            <a href="/cse312cheating">CSE 312 Cheating</a>
            <a href="/illegalactivities">Illegal Activities</a>
            <a href="/stupidjokes">Stupid Jokes</a>
            <div class="find_category_form">
                <br>
                Find Category
                <label>
                    <input id="category_textbox" class="sidebar_textbox" type="text" placeholder="category" onkeypress="findCategory(event)"/>
                </label>
            </div>
        </div>
    </div>
    <div class="main">
        {% if template_name == "post_list" %}
            <script>let selected_category = "{{category}}";</script>
            <div class="post_list" id="post_list"></div>
        {% elif template_name == "create_form" %}
            <div class="create_form">
                <form action=/create method="post" enctype="application/x-www-form-urlencoded">
                    Create post
                    <br><br>
                    <label>
                        <input name="title" type="text" placeholder="title"/>
                    </label>
                    <br><br>
                    <textarea name="message" placeholder="message" rows="10" cols="50"></textarea>
                    <br><br>
                    <input type="submit" value="Create">
                    <label>
                        <input name="category" type="text" placeholder="category"/>
                    </label>
                </form>
            </div>
        {% elif template_name == "registration_form" %}
            <div class="account_form">
                <form action=/register method="post" enctype="application/x-www-form-urlencoded">
                    Register account
                    <br><br>
                    <label>Username:
                        <br>
                        <input name="username" type="text"/>
                        </label>
                    <br>
                    <label>Password:&nbsp;
                        <br>
                        <input name="password" type="password">
                        </label>
                    <br>
                    <label>Confirm Password:&nbsp;
                        <br>
                        <input name="password_confirmation" type="password">
                    </label>
                    <br><br>
                    <input type="submit" value="Register">
                </form>
            </div>
        {% elif template_name == "login_form" %}
            <div class="account_form">
                <form action=/login method="post" enctype="application/x-www-form-urlencoded">
                    Login account
                    <br><br>
                    <label>Username:
                        <br>
                        <input name="username" type="text"/>
                        </label>
                    <br>
                    <label>Password:&nbsp;
                        <br>
                        <input name="password" type="password">
                        </label>
                    <br><br>
                    <input type="submit" value="Login">
                </form>
            </div>
        {% endif %}
    </div>
    <script src="/static/functions.js"></script>
</body>
</html>