<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSE312 Project Home</title>
    <link rel="stylesheet" type="text/css" href="/public/style.css"/>
</head>
<body>

<!--<div class="title">
    <h2>WAJD</h2>
</div>-->

<div class = "banner">

    <div class = "logo_div">
    <!--<div style="height: 75px; width: 75px; display: flex;">-->
        <img src="image/lmao_logo.jpg" alt="Trending Image" class = "logo_image">
    </div>
    <div class = "log_container">
        <button id = "Log_button">Login</button>
        <button id = "Log_button">Register</button>
    </div>

</div>

<div >
    
    <div>
        <div>
            <select id="Selections" onchange="setFeedCategory(this.value)">
                <option value="default" selected disabled>Filter by category</option>
                <option value="trending">Trending</option>
                <option value="animals">Animals</option>
                <option value="darkHumor">Dark Humor</option>
                <option value="gaming">Gaming</option>
                <option value="political">Political</option>
                <option value="popCulture">Pop Culture</option>
                <option value="sports">Sports</option>
                <option value="tecnology">Technology</option>
                <option value="wholesome">Wholesome</option>
                <option value="other">Other</option>
            </select>
        </div>
    </div>

<div class = "content-wrapper">
    <div class = "content">
        <img src="image/meme.png" alt="Trending Image">
        
        <div class = "interact">
            <button id = "int_button">Like</button>
            <button id = "int_button">Comment</button>
        </div>
    </div>
    </div>

</div>

<script src="index.js"></script>

</body>
</html>
