<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LMAO.com</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>
</head>
<body>
    <div class="header">
        <div class="logo" onclick="location.href='/'">
            <img class="logo_image" src="/static/image/lmao_logo.jpg">
            <div class="logo_text">LMAO.com</div>
        </div>
        <div class="header_title">{{header_title}}</div>
        <div class="header_buttons">
            {% if authenticated %}
                <button>Post</button>
                <button onclick="location.href='/logout'">Logout</button>
            {% else %}
                <button onclick="location.href='/login'">Login</button>
                <button onclick="location.href='/register'">Register</button>
            {% endif %}
        </div>
    </div>
    <div class="sidebar">
        <div class="category_selector">
            <a>Trending</a>
            <a>Animals</a>
            <a>Dark Humor</a>
            <a>Gaming</a>
            <a>Political</a>
            <a>Pop Culture</a>
            <a>Sports</a>
            <a>Technology</a>
            <a>Wholesome</a>
            <a>Other</a>
        </div>
    </div>
    <div class="main">
        {% if content_type == "register_form" or content_type == "login_form"%}
            <div class="account_form">
                {% if content_type == "register_form" %}
                    <form action=/register method="post" enctype="application/x-www-form-urlencoded">
                {% elif content_type == "login_form"%}
                    <form action=/login method="post" enctype="application/x-www-form-urlencoded">
                {% endif %}
                    {% if content_type == "register_form" %}
                        Register account
                    {% elif content_type == "login_form"%}
                        Login account
                    {% endif %}
                    <br><br>
                    <label>Username:
                        <br>
                        <input type="text" name="username"/>
                        </label>
                    <br>
                    <label>Password:&nbsp;
                        <br>
                        <input type="password" name="password">
                        </label>
                    <br>
                    {% if content_type == "register_form" %}
                        <label>Confirm Password:&nbsp;
                            <br>
                            <input type="password" name="confirm_password">
                        </label>
                    {% endif %}
                    <br><br>
                    {% if content_type == "register_form"%}
                        <input type="submit" value="Register">
                    {% elif content_type == "login_form"%}
                        <input type="submit" value="Login">
                    {% endif %}
                </form>
            </div>
        {% elif content_type == "post_list" %}
            <div class="post_list">
                <div class="post">
                    <img id="post1" src="/static/image/meme1.png">
                </div>
                <div class="post">
                    <img id="post2" src="/static/image/meme2.webp">
                </div>
                <div class="post">
                    <img id="post3" src="/static/image/cat.jpg">
                </div>
                <div class="post">
                    <img id="post4" src="/static/image/dog.jpg">
                </div>
            </div>
        {% endif %}
    </div>
</body>
</html>