.banner {
    display: flex;
    background-color: grey;
    color: grey;
    height: 17%;
    align-items: center;
    justify-content: space-between;
}

.logo_image{
    height: 75px; 
    width: 75px; 
    display: flex;
}
.title {
    height: 5%;
}

.log_container{
    display: flex;
    /*float: right;*/
    /*margin-right: 20px;*/
    justify-content: flex-end;
   /* display: inline-block;*/
}

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%; 
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-height: 80vh;
    overflow: auto; 
}

.interact{
    /*align-items: center;*/
    position: absolute;
    bottom: 10px;
    left: 10px;
}

#Log_button{
    background-color: blue; 
    color: white; 
    border: none; 
    border-radius: 25px;
}

#int_button{
    background-color: blue; 
    color: white; 
    border: none; 
    border-radius: 25px;
}

#Selections{
    background-color: blue; 
    color: white; 
    border: none; 
    border-radius: 25px;
}